<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>test template</title>
<style>
</style>
</head>

<body>
<div class="invoice-box">
  <p><%= @invoice_data[:org_name] %></p>
  <p><%= @invoice_data[:recipient_name] %></p>

  <div class="items">
    <% @invoice_data[:items].each do |item| %>
      <p>Name: <%= item[:name] %></p>
      <p>Description: <%= item[:description] %></p>
      <p>Unit Price: <%= item[:unit_price] %></p>
      <p>Quantity: <%= item[:quantity] %></p>
    <% end %>
  </div>

</div>
</body>
</html>
